<%- include("partials/header") %>
<div style ="width: 30%; margin: 75px auto;" class="container addPadding bg-light" id="signIn">
    <h1 style ="text-align: center; padding-bottom: 0.3em">Sign Up</h1>
    <form action="/register" method="POST">
        <div class="md-form">
            <input class = "form-control" type="text" name = "username" placeholder ="username">
        </div>
        <div class="md-form">
            <input class = "form-control" type="passowrd" name = "password" placeholder = "password">
        </div>
        <div class="form-group">
            <button class = "btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0">Submit</button>   
        </div>
        <p style="text-align:center">Already a Member?
            <a href="/login">Login</a>
        </p>
    </form>
</div>
<%- include("partials/footer") %>